backports.entry-points-selectable==1.1.1
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
distlib==0.3.4
filelock==3.4.0
Flask==2.0.2
Flask-Cors==3.0.10
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pipenv==2021.11.23
platformdirs==2.4.0
requests==2.27.1
six==1.16.0
urllib3==1.26.7
virtualenv==20.10.0
virtualenv-clone==0.5.7
Werkzeug==2.0.2
